@use "../sass/variables" as *;

.scene {
  position: relative;
  width: 100vw;
  
  min-height: 180vh;
  overflow: hidden;
  background-color: $primary-color-alt;
}


.layer {
  pointer-events: none;
  user-select: none;
  background-repeat: no-repeat;
  background-position: center bottom;
}




.bg {
  position: fixed;
  inset: 0;                    
  background-size: cover;      
  z-index: 0;
}


.house {
  position: fixed;
  left: 10vw;
  bottom: 24vh;                
  width: clamp(170px, 22vw, 360px);
  height: clamp(120px, 16vw, 260px);
  background-size: contain;
  background-position: left bottom;
  z-index: 2;                  
}


.moon {
  width: max(99px, 13vw);
  height: max(99px, 13vw);
  background-color: #fff;
  border-radius: 50%;
  position: fixed;
  top: 14vh;
  right: 9vw;
  z-index: 3;
  box-shadow: 0 0 32px 4px #ffffff; 
}




.lake {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;                  
  height: 48vh;               
  background-size: cover;     
  background-position: center bottom;
  z-index: 1;
}
